.navbar {
  width: 100%;
  height: 64px;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #38bdf8;
  letter-spacing: 1px;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.active{
  color: #38bdf8 !important;
}

.navbar-links li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}


.navbar-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #38bdf8;
  transition: width 0.3s ease;
}


.navbar-links li a:hover {
  color: #38bdf8;
}

.navbar-links li a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar-links {
    gap: 20px;
  }
}
@media (max-width: 768px) {
.navbar{
  height: 100px;
}
.navbar-logo{
  margin: 0 auto;
}
}